.game{
    width: 90vw;
    height: 90vh;
    background-color: rgb(1, 205, 246);
    overflow: hidden;
    display: flex;
    justify-content: center;
}
.panel{
    position: relative;
    background-color: yellow;
    width: 50%;
    height: 100%;
    justify-content: center;
}
.start{
    background-color: aliceblue;
    border-color: blue;
    position: absolute;
    min-width: min-content;
    width: 20%;
    min-height: min-content;
    height: 5%;
    top: 94%;
    left: 78%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.game-panel{
    min-width: 500px;
    min-height: 500px;
    height: 100%;
    width: 50%;
    background-color: red;
    overflow: hidden;
    display: flex;
    justify-content: center;
}
.game-board{
    height: 90%;
    width: 90%;
    margin: auto;
    position: relative;
}
.board-row{
    width: auto;
    height: auto;
    position: relative;
    margin: auto;
    flex-direction: row;
    background-color: black;
    align-self: center;
    overflow: hidden;
}
.chess-tile{
    position: relative;
    width: 12.5%;
    height: 9vh;
    flex-direction: row;
    float: left;
}
.white{
    background-color: white;
}
.black{
    background-color: #008000;
}
.figure{
    height: 40px;
    width: 20px;
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
    background-size:contain;
}
.selected{
    background-color: blue;
}
.highlight{
    background-color: yellow;
}
.checked{
    background-color: red;
}
.black-pawn{
    background-image:url("figures/black-pawn.png");
}
.black-knight{
    background-image: url("figures/black-knight.png");
}
.black-rook{
    background-image: url("figures/black-rook.png");
}
.black-bishop{
    background-image: url("figures/black-bishop.png");
}
.black-king{
    background-image: url("figures/black-king.png");
}
.black-queen{
    background-image: url("figures/black-queen.png");
}

.white-pawn{
    background-image:url("figures/white-pawn.png");
}
.white-knight{
    background-image: url("figures/white-knight.png");
}
.white-rook{
    background-image: url("figures/white-rook.png");
}
.white-bishop{
    background-image: url("figures/white-bishop.png");
}
.white-king{
    background-image: url("figures/white-king.png");
}
.white-queen{
    background-image: url("figures/white-queen.png");
}
